body {
  margin: 0;
  background: #274485;
  font-family: "Times New Roman", Times, serif; }

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px; }

.canvas {
  background-image: url("../assets/beach.jpg");
  border: 1px solid #da808c;
  width: max-content; }

.heading {
  margin: 0 0 25px 0;
  color: #da808c;
  font-style: italic; }
